<!DOCTYPE HTML>
<html>

	{% include 'includes/head.html' %}

	<body class="is-preload landing">
		<div id="page-wrapper">

				{% include 'includes/header.html' %}

				<section id="banner">
					<div class="content">
						<header>
							<p>This is a simple prototype and is under heavy development.</p>
						</header>
						<span class="image"><img src="/static/images/monero-logo.png" width=150px></span>
					</div>
				</section>

				{% include 'includes/footer.html' %}

		</div>

		{% include 'includes/scripts.html' %}

	</body>
</html>
