<!DOCTYPE HTML>
<html>

	{% include 'includes/head.html' %}

	<body class="is-preload landing">
		<div id="page-wrapper">

      {% include 'includes/header.html' %}

				<section id="banner">
					<div class="content">
						<header>
							<h2>Register</h2>
							<form method="POST" action="{{ url_for('auth.register') }}">

                  {% for f in form %}
                    {% if f.name == 'csrf_token' %}
											{{ f }}
										{% else %}
                      <div class="form-group">
                        {{ f.label }}
                        {{ f }}
                      </div>
                    {% endif %}
                  {% endfor %}
                  <ul>
                  {% for field, errors in form.errors.items() %}
                      <li>{{ form[field].label }}: {{ ', '.join(errors) }}</li>
                  {% endfor %}
                </ul>
                  <input type="submit" value="Register" class="btn btn-link btn-outline btn-xl">
              </form>
						</header>
						<span class="image"><img src="/static/images/monero-logo.png" width=150px></span>
					</div>
				</section>

				{% include 'includes/footer.html' %}

		</div>

		{% include 'includes/scripts.html' %}

	</body>
</html>
