<!DOCTYPE HTML>
<html>

	{% include 'includes/head.html' %}

	<body class="is-preload landing">
		<div id="page-wrapper">

				<header id="header">
					<h1 id="logo"><a href="/">MyThing sample app</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/#search" class="button primary">Search</a></li>
						</ul>
					</nav>
				</header>

				<section id="banner">
					<div class="content">
						<header>
							<h2>MyThing</h2>
							<p>This is a sample app.</p>
						</header>
						<span class="image"><img src="/static/images/monero-logo.png" width=150px></span>
					</div>
					<a href="#swap" class="goto-next scrolly">Next</a>
				</section>

				{% include 'includes/footer.html' %}

		</div>

		{% include 'includes/scripts.html' %}

	</body>
</html>
