<header id="header">
  <h1 id="logo"><a href="/">{{ config.SITE_NAME }}</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="{{ url_for('auth.login') }}">Login</a></li>
      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
    </ul>
  </nav>
  <p>Authenticated: {{ current_user.is_authenticated }}</p>
  {% if current_user.is_authenticated %}
    <p>Username: {{ current_user.username }}</p>
    <p>Email: {{ current_user.email }}</p>
    <p>Password: {{ current_user.password }}</p>
  {% endif %}
</header>

<hr>

<script src="/static/js/noty.js"></script>
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <script type="text/javascript">
    {% for message in messages %}
      new Noty({
        type: 'error',
        theme: 'relax',
        layout: 'topCenter',
        text: '{{ message }}',
        timeout: 4500
      }).show();
    {% endfor %}
  </script>
  {% endif %}
{% endwith %}
